<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DBUtility.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DBUtility.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DBUtility.Properties.Settings1>
            <setting name="conn_oracle" serializeAs="String">
                <value>Data Source=(DESCRIPTION=
         (ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.66.237.3)(PORT=1521)))
         (CONNECT_DATA=(SERVICE_NAME=ORA10G)));
         User Id=hbgctj;Password=hbgctj;</value>
            </setting>
            <setting name="conn_access" serializeAs="String">
                <value>Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\华北工程公司统计\StatisticsSystem\StatisticsSystem_DAL\StatisticsSystem.mdb;Persist Security Info=True</value>
            </setting>
        </DBUtility.Properties.Settings1>
        <DBUtility.Settings1>
            <setting name="conn_oracle" serializeAs="String">
                <value>Data Source=(DESCRIPTION=
         (ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.66.237.3)(PORT=1521)))
         (CONNECT_DATA=(SERVICE_NAME=ORA10G)));
         User Id=hbgctj;Password=hbgctj;</value>
            </setting>
            <setting name="conn_access" serializeAs="String">
                <value>Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\华北工程公司统计\StatisticsSystem\StatisticsSystem_DAL\StatisticsSystem.mdb;Persist Security Info=True</value>
            </setting>
        </DBUtility.Settings1>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
