<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value=" Data Source=(DESCRIPTION=
          (ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.66.237.3)(PORT=1521)))
          (CONNECT_DATA=(SERVICE_NAME=ORA10G)));
          User Id=hbgctj;Password=hbgctj;"/>
  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="StatisticsSystem.Calculate.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="StatisticsSystem_Calculate.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <StatisticsSystem.Calculate.Properties.Settings1>
      <setting name="conn_oracle" serializeAs="String">
        <value>
          Data Source=(DESCRIPTION=
          (ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.66.237.7)(PORT=1521)))
          (CONNECT_DATA=(SERVICE_NAME=ORA10G)));
          User Id=hbgctj;Password=hbgctj;
        </value>
      </setting>
    </StatisticsSystem.Calculate.Properties.Settings1>
    <StatisticsSystem_Calculate.Settings1>
      <setting name="conn_oracle" serializeAs="String">
        <value>
          Data Source=(DESCRIPTION=
          (ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.66.237.3)(PORT=1521)))
          (CONNECT_DATA=(SERVICE_NAME=ORA10G)));
          User Id=hbgctj;Password=hbgctj;
        </value>
      </setting>
    </StatisticsSystem_Calculate.Settings1>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
