<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--缺省窗体皮肤-->
    <add key="APPS_MyFormSkin" value="Silver.ssk"/>
    <!--XML配置文件-->
    <add key="APPS_XmlFile" value="ExportExcel.xml"/>
    <!--存放路径-->
    <add key="APPS_SaveDocPath" value="d:\\"/>
    <!--定时器时间间隔-->
    <add key="APPS_TimerInterval" value="10000"/>
    <!--数据库连接-->
    <add key="ConnectionString" value="Data Source=6_SERVER;User ID=hbtj;Password=hbtj"/>
    <add key="dbProviderName" value="System.Data.OracleClient"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
